{% extends "layout.html.twig" %}

{% block title %}
   Connexion
{% endblock %}

{% block content %}
    <section id="main" class="container medium">

        <header>
            <h2>Connectez-vous</h2>
        </header>

        <div class="box">

            {% if error %}
                <div class="messageFlashRed">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                <div class="messageFlash">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form, { attr: {novalidate: 'novalidate' }} ) }}

            <div class="row gtr-50 gtr-uniform">

                <div class="col-12">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-12">
                    {{ form_row(form.password) }}
                </div>

                <div class="col-12">
                    <ul class="actions special">
                        <li>{{ form_row(form.submit) }}</li>
                    </ul>
                </div>

                <p>Si vous n'êtes pas inscrit <i class="fas fa-arrow-right"></i> <a href="/inscription.html">Inscrivez-vous ici.</a></p>

            </div> <!-- ./gtr-50 -->

            {{ form_end(form) }}

        </div> <!-- ./box -->

    </section>
{% endblock %}
