{% extends "layout.html.twig" %}

{% block title %}
    YourSport - Connexion
{% endblock %}

{% block content %}
    <section id="main" class="container medium">

        <header>
            <h2>Connectez-vous</h2>
        </header>

        <div class="box">


            {# Message en cas d'erreur de connexion #}

            {% if error %}
                <div class="messageFlashRed">{{ error.messageKey|trans(error.messageData, 'security')| replace({"Invalid credentials." : "Votre mot de passe ou email est invalide, veuillez réessayer."}) }}</div>
            {% endif %}


            {# Message si inscription réussie #}

            {% for message in app.flashes('notice') %}
                <div class="messageFlash">
                    {{ message }}
                </div>
            {% endfor %}


            {# Formulaire de connexion #}

            {{ form_start(form, { attr: {novalidate: 'novalidate' }} ) }}

            <div class="row gtr-50 gtr-uniform">

                <div class="col-12">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-12">
                    {{ form_row(form.password) }}
                </div>

                <div class="col-12">
                    <ul class="actions special">
                        <li>{{ form_row(form.submit) }}</li>
                    </ul>
                </div>

                <p>Si vous n'êtes pas inscrit <i class="fas fa-arrow-right"></i> <a href="/inscription.html">Inscrivez-vous
                        ici.</a></p>

            </div> <!-- ./gtr-50 -->

            {{ form_end(form) }}

            {# Fin du formulaire #}


        </div> <!-- ./box -->

    </section> <!-- ./main -->

{% endblock %}
