{% extends "layoutindex.html.twig" %}

{% block title %}
    YourSport - Accueil
{% endblock %}

{% block content %}
    <!-- Main -->
    <section id="main" class="container">
        {# Courte présentation du rôle du site #}
        <section class="box special">
            <header class="major">
                <h2>Un site vous permettant de créer
                    <br/>
                    et rejoindre toutes sortes d'événement sportifs !
                    </h2>
                <p>Partager des superbes moments avec des gens qui ont la même passion que vous !</p>
            </header>
        </section> <!-- ./box special-->
        <div class="row">
            {# BOUCLE D'AFFICHAGE DES 4 DERNIERS EVENEMENT #}
            {% for lastevent in lastevents %}
                <div class="col-4 col-6-narrower">
                    <section class="box special">
                        <span class="image featured"><img src="{{ asset('images/' ~ lastevent.sport.image) }}"
                                                          alt="{{ lastevent.titre | summarize }}"/></span>
                        <h3>{{ lastevent.titre | summarize }}</h3>
                        <p class="eventbox">{{ lastevent.ville }}</p>
                        <p class="eventbox">Le {{ lastevent.date | date('d/m/Y') }}
                            à {{ lastevent.heure | date('H:i:s') }}</p>
                        <ul class="actions special">
                            <li><a href="{{ path('evenement_evenement',{
                                    'sports'    : lastevent.sport.slug,
                                    'slug'      : lastevent.slug,
                                    'id'        : lastevent.id
                                }) }}" class="button alt">Voir plus</a></li>
                        </ul>
                    </section>
                </div> <!-- ./col-6 -->
            {% endfor %}
            {# FIN DE LA BOUCLE #}
        </div> <!-- ./row -->
    </section> <!-- ./main -->
{% endblock %}
