{% extends "layoutindex.html.twig" %}

{% block title %}
   YourSport - Accueil
{% endblock %}


{% block content %}


    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>Création d'événements sportifs
                    <br />
                    dans un cadre non convetionel! ...</h2>
                <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
                    adipiscing nunc adipiscing. Condimentum turpis massa.</p>
            </header>
        </section>


        <div class="row">
            {% for lastevent in lastevents %}
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured"><img src="{{ asset('images/' ~ lastevent.sport.image) }}" alt="{{ lastevent.titre }}" /></span>
                    <h3>{{ lastevent.titre }}</h3>

                    <p class="eventbox">{{ lastevent.ville }}</p>

                    <p class="eventbox">Le {{ lastevent.date | date('d/m/Y')}} à {{ lastevent.heure | date('H:i:s') }}</p>

                    <ul class="actions special">
                        <li><a href="{{ path('evenement_evenement',{
                                'sports'    : lastevent.sport.slug,
                                'slug'      : lastevent.slug,
                                'id'        : lastevent.id
                            }) }}" class="button alt">Voir plus</a></li>
                    </ul>
                </section>

            </div>
            {% endfor %}

        </div>



        <!-- Widget Météo -->

        <section id="app">

            <div id="meteo">

               <!-- <div class="tooltip"> -->

                    <h3 class="tool">

                        <span id="ville"></span>

                      <!--  <span class="tooltiptext">Saisissez une ville de votre choix partout dans le monde  ...</span> -->

                    </h3>

                   <p class="info">
                       Saisissez une ville de votre choix partout dans le monde ...
                   </p>

            <!--    </div> End tooltip -->

                <h3 class="weather">
                    <span id="state" ></span>,&nbsp;<span id="country"></span>
                </h3>

                <h3 class="weather">

                    Longitude:&nbsp;<span id="longitude"></span>&nbsp; ; &nbsp; Latitude:&nbsp;<span id="latitude"></span>

                </h3>

                <i class="wi"></i>

                <h3 class="weather">
                    <span id="temperature" class="weather"></span> <span class="weather">C°</span><br />
                    (<span id="conditions"></span>)
                </h3>

                <h4 class="weather">
                    Force du vent:&nbsp;<span id="vent"></span>&nbsp;Km/h&nbsp; - &nbsp;Direction:&nbsp;<span id="direction"></span>
                </h4>

            </div>

        </section><!-- End widget -->

    </section>


{% endblock %}
