{% extends "layout.html.twig" %}

{% block title %}

    {{ evenement.slug }}

{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container">

        <header>
            <h2>{{ evenement.sport.nom }}</h2>
        </header>

        <section class="box special">
            <header class="major">
                <h2>{{ evenement.titre }}</h2>
                <p>Ville : {{ evenement.ville }} {{ evenement.departement }}<br />
                    Lieu : {{ evenement.lieu }}<br />
                    Le {{ evenement.date | date('d/m/Y')}} à {{ evenement.heure | date('H:i:s') }}<br />
                    Organisateur : {{ evenement.membre.prenom }} {{ evenement.membre.nom }}<br /> <br />
                    Détails : {{ evenement.details }} <br /> {{ evenement.adresse }}<br />


                <ul class="actions special">
                    <li><a href="" class="button alt">Participer a l'événement</a></li>
                </ul>

                </p>
            </header>
        </section>

        </div>


    </section>

{% endblock %}

