{% extends "layout.html.twig" %}

{% block title %}

    {{ evenement.slug | capitalize }}

{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container">

        <header>
            <h2>{{ evenement.sport.nom }}</h2>
        </header>

        <section class="box special">
            <header class="major">

                <h2>{{ evenement.titre }}</h2>

                <p>Ville : <span id="city">{{ evenement.ville }}</span> {{ evenement.departement }}</p><br/>

                <p>Lieu : {{ evenement.lieu }}</p><br/>

                <p>Le {{ evenement.date | date('d/m/Y') }} à {{ evenement.heure | date('H:i') }}</p><br/>

                <p>Organisateur : {{ evenement.membre.prenom }} {{ evenement.membre.nom }}</p><br/>

                <p>Détails : {{ evenement.details }}</p><br/>

                <p>{{ evenement.adresse }}</p><br/>




                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {% for participant in evenement.participant if app.user.email == participant.email %}

                        <p>
                        <ul class="actions special">
                            <li>
                                <a href="{{ path('evenement_evenement', {'sports' : evenement.sport.slug , 'slug' : evenement.slug , 'id' : evenement.id }) }}"
                                   style="background: #aacd4e" class="button alt">
                                    Vous êtes déjà Inscrit
                                </a>
                            </li>
                        </ul>

                        <ul class="actions special">
                            <li>
                                <a href="{{ path('evenement_leaveEvent', {'id' : evenement.id}) }}" class="button alt">
                                    Se désinscrire
                                </a>
                            </li>
                        </ul>
                        </p>


                    {% else %}

                        <p>
                        <ul class="actions special">
                            <li>
                                <a href="{{ path('evenement_participer', { 'id' : evenement.id }) }}"
                                   class="button alt"
                                   onclick="return confirm('Vous confirmez votre inscription à l\'événement ?')">
                                    Participer à l'événement
                                </a>
                            </li>
                        </ul>
                        </p>

                    {% endfor %}

                    <p>
                        <ul class="actions special">
                            <li><a href="{{ path('evenement_participer', { 'id' : evenement.id }) }}" class="button alt">Participer
                                    à l'événement</a></li>
                        </ul>
                    </p>


                {% else %}

                    <p><em>Pour participer à l'événement veuillez :</em></p><br/><br/>

                    <ul class="actions special">
                        <li><a href="{{ path('membre_inscription') }}" class="button primary">Vous Inscrire</a></li>
                        <li><a href="{{ path('membre_connexion') }}" class="button">Vous Connectez</a></li>
                    </ul>

                {% endif %}

                {# FIN BOUTON #}


                {# AFFICHAGE DES PARTICIPANTS DANS UN TABLEAU #}

                {% if evenement.participant is not empty %}

                    <h4>Liste des Participants :</h4>

                    <table>

                        <tr class="entete">
                            <td class="impaire">Prénom</td>
                            <td class="paire">Pseudo</td>
                            <td class="impaire">Ville</td>
                            <td class="paire">Date de naissance</td>
                        </tr>

                        {% for participant in evenement.participant %}
                            <tr>
                                <td class="impaire">{{ participant.prenom }}</td>
                                <td class="paire">{{ participant.pseudo }}</td>
                                <td class="impaire">{{ participant.ville }}</td>
                                <td class="paire">{{ participant.DateDeNaissance | date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}

                    </table>

                {% endif %}

                {# FIN TABLEAU #}


                {# PLUGIN COMMENTAIRE FACEBOOK #}

                <div class="fb-comments" data-href="http://localhost:8000/~{{ evenement.slug }}" data-width="auto"
                     data-numposts="5"></div>


            </header>

        </section>

        <section id="app">

            <h2 class="weather"><span id="ville"></span></h2>

            Département:&nbsp;<span id="nom"></span>&nbsp;(<span id="code"></span>)

        </section>


        <section>
            <div class="row">
                <div class="col-3 col-12-narrower">
                    <div class="meteo_event">
                        <div id="jour0"><!-- Affichage 1er jour -->
                            <p>
                                le:&nbsp;<span id="txt"></span><br/>
                            </p>

                            <h2 class="weather">
                                <span id="temperature"></span> C°<br/>
                            </h2>

                            <i class="wi"></i>

                            <h3 class="info">
                                <span id="conditions"></span><br/>
                                <span id="description"></span>
                            </h3>

                            <p class="info">
                                Force du vent:&nbsp;<span id="vent"></span>&nbsp;Km/h<br/>
                                Direction:&nbsp;<span id="direction"></span>
                            </p>
                        </div><!-- /Premier jour -->
                    </div>
                </div>

                <div class="col-3 col-12-narrower">
                    <div class="meteo_event">
                        <div id="jour1"><!-- Affichage 2éme jour -->
                            <p>
                                le:&nbsp;<span id="txt1"></span><br/>
                            </p>

                            <h2 class="weather">
                                <span id="temperature1"></span> C°<br/>
                            </h2>

                            <i class="wi1"></i>

                            <h3 class="info">
                                <span id="conditions1"></span><br/>
                                <span id="description1"></span>
                            </h3>

                            <p class="info">
                                Force du vent:&nbsp;<span id="vent1"></span>&nbsp;Km/h<br/>
                                Direction:&nbsp;<span id="direction1"></span>
                            </p>
                        </div><!-- /Deuxieme jour -->
                    </div>
                </div>

                <div class="col-3 col-12-narrower">
                    <div class="meteo_event">
                        <div id="jour2"><!-- Affichage 3éme jour -->
                            <p>
                                le:&nbsp;<span id="txt2"></span><br/>
                            </p>

                            <h2 class="weather">
                                <span id="temperature2"></span> C°<br/>
                            </h2>

                            <i class="wi2"></i>

                            <h3 class="info">
                                <span id="conditions2"></span><br/>
                                <span id="description2"></span>
                            </h3>

                            <p class="info">
                                Force du vent:&nbsp;<span id="vent2"></span>&nbsp;Km/h<br/>
                                Direction:&nbsp;<span id="direction2"></span>
                            </p>
                        </div><!-- /Troisiéme jour -->
                    </div>
                </div>

                <div class="col-3 col-12-narrower">
                    <div class="meteo_event">
                        <div id="jour3"><!-- Affichage 4éme jour -->
                            <p>
                                le:&nbsp;<span id="txt3"></span><br/>
                            </p>

                            <h2 class="weather">
                                <span id="temperature3"></span> C°<br/>
                            </h2>

                            <i class="wi3"></i>

                            <h3 class="info">
                                <span id="conditions3"></span><br/>
                                <span id="description3"></span>
                            </h3>

                            <p class="info">
                                Force du vent:&nbsp;<span id="vent3"></span>&nbsp;Km/h<br/>
                                Direction:&nbsp;<span id="direction3"></span>
                            </p>
                        </div><!-- /Quatriéme jour -->
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}

