{% extends "layout.html.twig" %}

{% block title %}

    Evénements - {{ sport.slug | capitalize }}

{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container">

        <header>
            <h2>Evénements  - {{ sport.nom }}</h2>
        </header>

        <div class="row">

            {% for evenement in evenements %}
                <div class="col-4 col-12-narrower">

                    <section class="box special">
                        <span class="image featured"><img src="{{ asset('images/' ~ evenement.sport.image) }}" alt="{{ evenement.titre }}" /></span>
                        <h3>{{ evenement.titre }}</h3>

                        <p class="eventbox">{{ evenement.ville }}</p>

                        <p class="eventbox">Le {{ evenement.date | date('d/m/Y')}} à {{ evenement.heure | date('H:i') }}</p>

                        <ul class="actions special">
                            <li><a href="{{ path('evenement_evenement',{
                                    'sports'    : evenement.sport.slug,
                                    'slug'      : evenement.slug,
                                    'id'        : evenement.id
                                }) }}" class="button alt">Voir plus</a></li>
                        </ul>
                    </section>

                </div>

            {% endfor %}

        </div>


    </section>

{% endblock %}

