{% extends "layout.html.twig" %}

{% block title %}
    Contact
{% endblock %}

{% block content %}

    <section id="main" class="container medium">

        <header>
            <h2>Contactez-Nous</h2>
        </header>

        <!-- FORMULAIRE DE CONTACT -->

        <div class="box">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}


            {{ form_start(form, { attr: {novalidate: 'novalidate' }} ) }}

            <div class="row gtr-50 gtr-uniform">

                <div class="col-6 col-12-mobilep">
                    {{ form_row(form.prenom) }}
                </div>

                <div class="col-6 col-12-mobilep">
                    {{ form_row(form.nom) }}
                </div>


                <div class="col-12">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-12">
                    {{ form_row(form.message) }}
                </div>

                <div class="col-12">
                    <ul class="actions special">
                        <li>{{ form_row(form.submit) }}</li>
                    </ul>
                </div>


            </div> <!-- ./gtr-50 -->

            {{ form_end(form) }}

        </div> <!-- ./box -->

    </section>

{% endblock %}

