    <!-- Header -->
    <header id="header">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <h1><a href="{{ path('accueil') }}">Yoursport &nbsp;|&nbsp; {{ app.user.prenom |capitalize }} &nbsp; {{ app.user.nom| capitalize }}</a></h1>

        {% else %}
            <h1><a href="{{ path('accueil') }}">YourSport</a></h1>
        {% endif %}


        <nav id="nav">
            <ul>
                <li><a href="{{ path('accueil') }}">Accueil</a></li>

                <li><a href="{{ path('evenement_list') }}">Trouver Evénement</a></li>

                <li>

                    <a href="#" class="icon fa-angle-down">Sports</a>
                    <ul>
                        {% for sports in sports %}
                            <li><a href="{{ path('default_listsport',{
                                    'slug' : sports.slug
                                }) }}">{{ sports.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="#" class="icon fa-angle-down">Profil</a>
                        <ul>
                            <li><a href="{{ path('membre_viewProfil') }}">Voir Profil</a></li>
                            <li><a href="{{ path('evenement_createEvenement') }}">Créer Evénement</a></li>
                            <li><a href="{{ path('evenement_membreEvent') }}">Mes événements</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li><a href="{{ path('contact_contact') }}">Contact</a></li>


                <!--<li><a href="#" class="button">Connexion</a></li>-->
            </ul>
        </nav>
    </header>
